.MyWork{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    font-size: 30px;
    font-weight: 500;
}
.MyWork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    gap: 40px;
}
.MyWork img{
    position: relative;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.listen{
    display: grid;
    grid-template-columns: none;
    gap: 38px;
    transition: 0.4S;
    cursor: pointer;
    position: left;
}

.listen:hover{
    transform: scale(1.10);
    border: 2px solid rgb(144, 73, 95);
    border-radius: 10px;
    transition: 0.4s;
}
.webdsn_img{
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    transition: 0.4S;
    cursor: pointer; 
   
}
.webdsn_img:hover{
    transform: scale(1.10);
    border: 2px solid rgba(176, 200, 194, 0.316);
    border-radius: 10px;
    transition: 0.4s;

}
.web_img{
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    transition: 0.4S;
    cursor: pointer; 
   
}
.web_img:hover{
    transform: scale(1.10);
    border: 2px solid rgba(15, 221, 170, 0.316);
    border-radius: 10px;
    transition: 0.4s;

}